@import url("https://fonts.googleapis.com/css2?family=Lilita+One&family=Righteous&display=swap");
@import "tailwindcss";

@theme {
  --font-primary: "Lilita One";
  --font-secondary: "Righteous";

  --color-dark: #252a34;
  --color-light: #eaeaea;
  --color-primary: #08d9d6;
  --color-secondary: #ff2e63;
}
*{
    color: var(--color-dark);
}